.background9 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-darkcyan);
}
.lets-combine-efforts2 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
}
.give-us-a2 {
  position: relative;
}
.button16 {
  border-radius: var(--br-10xs);
  background-color: var(--neutrals-white);
  width: 225px;
  height: 56px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-13xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-5xl);
  color: var(--primary-500);
  font-family: var(--font-alata);
}
.container12 {
  position: absolute;
  width: calc(100% - 851px);
  top: 101px;
  right: 791px;
  left: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-61xl);
}
.infoswapcom2 {
  position: absolute;
  top: 269px;
  left: calc(50% + 18px);
  font-size: var(--font-size-77xl);
  line-height: 100%;
  font-family: var(--font-david-libre);
  color: var(--color-gainsboro-200);
}
.reach-us-inner {
  position: absolute;
  top: 238px;
  left: 1276px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.reach-us4 {
  position: relative;
  width: 100%;
  height: 489px;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--neutrals-white);
  font-family: var(--font-roboto);
}
