.rectangle-div {
  position: relative;
  width: 100%;
  height: 546px;
  transform: rotate(180deg);
  transform-origin: 0 0;
  background-image: url(./public/rectangle-2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
