.swapswayinstagramcom2 {
  margin: 0;
}
.swapswayinstagramcom-swapswa1 {
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 150%;
  font-family: var(--font-acme);
  color: var(--neutrals-700);
  white-space: pre-wrap;
  text-align: left;
  display: inline-block;
  width: 473px;
}
