.discover-what-clients1,
.look-at-what1 {
  position: absolute;
  top: 66px;
  left: calc(50% + 175px);
  line-height: 100%;
  display: inline-block;
  width: 473px;
}
.discover-what-clients1 {
  top: 209px;
  font-size: var(--font-size-13xl);
  line-height: 150%;
  font-family: var(--font-acme);
  color: var(--neutrals-700);
}
.view-project-gallery {
  position: relative;
}
.button14 {
  position: absolute;
  top: 310px;
  left: calc(50% + 150px);
  border-radius: var(--br-10xs);
  border: 1px solid var(--color-darkcyan);
  box-sizing: border-box;
  height: 56px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-13xl);
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-5xl);
  color: var(--color-darkcyan);
  font-family: var(--font-alata);
}
.frame-icon {
  position: absolute;
  top: 70px;
  left: 97px;
  width: 706px;
  height: 278px;
  overflow: hidden;
  object-fit: cover;
}
.view-work1 {
  position: relative;
  width: 100%;
  height: 409px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--neutrals-900);
  font-family: var(--font-open-sans);
}
