.explore-more1 {
  position: relative;
}
.button7 {
  position: absolute;
  top: 183px;
  left: calc(50% - 257px);
  border-radius: var(--br-10xs);
  background-color: var(--color-mintcream);
  height: 56px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-13xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.creating-an-elegant1 {
  position: absolute;
  top: 38px;
  left: calc(50% - 704px);
  font-size: var(--font-size-21xl);
  line-height: 100%;
  font-family: var(--font-adamina);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 656px;
  text-shadow: 0 1px 10px #fff;
}
.work-page1 {
  position: relative;
  width: 100%;
  height: 813px;
  overflow: hidden;
  background-image: url(./public/our-work@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
  font-family: var(--font-alef);
}
